*{
    margin: 0;
    padding: 0;
}

/* Add a font family from google fonts */

body{
    background-color: #f5f8fa;
    color: #202b46;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7% 3%;
    background-color: #fff;
    box-shadow: 1px 1px 20px #eff2f5;
    font-size: 0.9rem;
    font-weight: 500;
}

.nav-links{
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-item{
    display: inline-block;   
}

.nav-item a {
    text-decoration: none;
    padding: 1rem;
    color: #75798c;
    border-radius: 10px;
}

.nav-item a:hover{
    background-color: #f4f6fa;
    color: #549eff;
}

.active{
    background-color: #f4f6fa;
    color: #549eff !important;
    padding: 1rem;
    border-radius: 10px;
}

/* --------- Main Section -------------*/

main{
    padding: 2%;
}

/* -----Header----- */

.sub-heading{
    font-size: 0.8rem;
    color: #a4a4b2;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button{
    border-radius: 10px;
    background-color: #50cd89;
    border: 1px solid #50cd89;
    padding: 0.3rem 0.8rem;
    margin: 0 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

.right-header{
    display: flex;
}

.add-button:hover{
    /* background-color: ; */
}

#dropdown{
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #75798c;
}

/* -----blocks-styling----- */
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----Blue block----- */

.blue-block{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #3e97ff;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.followed-text{
    font-weight: 600;
    color: #c4dfff;
}

progress {
    opacity: 0;
}

.progress-container {
    position: relative;
    display: inline-block;
    background: #c4dfff;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
  }

  .progress-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 75%;
    background: #fff;
  }

/* -----External-link-block----- */

.external-link-item, .highlight-item{
    padding: 1rem 0; 
    display: flex; 
    justify-content: space-between;
}

.external-link-name{
    color: #549eff; 
    cursor: pointer;
}

.external-link{
    color: #a4a4b2; 
    text-decoration: none;
}

/* -----Project-earnings block----- */

/* -----Highlight block----- */
.highlight-figure{

}


/* -----Project-earnings block----- */


/* 
navbar text color: #7b7e90

box blue: #3e97ff
side nav blue: #202b46
background white: #f5f8fa
add button green: #50cd89
blue (also hover) text: #549eff
nav-hover background: #f4f6fa
*/